{{setVar "mainType" "vCenter"}}

<section class="register container">
	<div class="fullscreen-bg view">
		<video autoplay muted loop id="myVideo">
			<source src="/vid/register/beach.mp4" type="video/mp4">
		</video>
		
		<div class="mask flex-center rgba-black-strong"></div>
	</div>

	<ul class="nav nav-tabs md-tabs primary-gradient mx-auto" role="tablist">
		<li class="nav-item nav-item flex-fill text-center">
			<a class="nav-link active" data-toggle="tab" href="#cTab" role="tab">
				Client Registration
			</a>
		</li>
		<li class="nav-item nav-item flex-fill text-center">
			<a class="nav-link" data-toggle="tab" href="#spTab" role="tab">
				Service Provider Registration
			</a>
		</li>
	</ul>

	<div class="tab-content card px-0 pb-0">
		<div class="tab-pane fade show active" id="cTab" role="tabpanel">
			<div class="card-body px-5">
				<h5 class="card-title text-center mb-4">Client Account</h5>

				<form class="needs-validation" method="post" novalidate>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-user"></i>
							</span>
						</div>

						<input type="text" class="form-control" name="username" placeholder="Username" value="{{username}}" required>
						<div class="invalid-tooltip">
							{{errors.username}}
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-envelope"></i>
							</span>
						</div>

						<input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}" required>
						<div class="invalid-tooltip">
							{{errors.email}}
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-lock-alt"></i>
							</span>
						</div>

						<input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}" required>
						<div class="invalid-tooltip">
							{{errors.password}}
						</div>
					</div>

					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-lock-alt"></i>
							</span>
						</div>

						<input type="password" name="cfmPassword" class="form-control" placeholder="Confirm Password" value="{{cfmPassword}}" required>
						<div class="invalid-tooltip">
							{{errors.cfmPassword}}
						</div>
					</div>

					<input class="d-none" type="hidden" name="accType" value="client" />

					<button class="btn btn-outline-primary btn-rounded btn-block" type="submit">
						<i class="far fa-sign-in-alt"></i> REGISTER
					</button>
				</form>

				<h5 class="card-title mt-5">SOCIAL LOGIN</h5>
				<hr class="my-2">

				<div class="flex-fill text-center">
					<button class="btn-floating btn-lg btn-fb" type="button">
						<i class="fab fa-facebook-f"></i> Facebook
					</button>
					<button class="btn-floating btn-lg btn-tw" type="button">
						<i class="fab fa-twitter"></i> Twitter
					</button>
					<button class="btn-floating btn-lg btn-git" type="button">
						<i class="fab fa-github"></i> Github
					</button>
				</div>
			</div>
			
			<div class="card-footer">
				<p class="text-center small m-0">
					Have an account? <a href="" data-toggle="modal" data-target="#loginModel">Login Here</a>
				</p>
			</div>
		</div>

		<div class="tab-pane fade" id="spTab" role="tabpanel">
			<div class="card-body px-5">
				<h5 class="card-title text-center mb-4">Service Provider Account</h5>

				<form class="needs-validation" method="post" novalidate>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-user"></i>
							</span>
						</div>

						<input type="text" class="form-control" name="username" placeholder="Username" value="{{username}}" required>
						<div class="invalid-tooltip">
							{{errors.username}}
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-envelope"></i>
							</span>
						</div>

						<input type="email" name="email" class="form-control" placeholder="Email" value="{{email}}" required>
						<div class="invalid-tooltip">
							{{errors.email}}
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-lock-alt"></i>
							</span>
						</div>

						<input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}" required>
						<div class="invalid-tooltip">
							{{errors.password}}
						</div>
					</div>

					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text primary-gradient white-text">
								<i class="far fa-lock-alt"></i>
							</span>
						</div>

						<input type="password" name="cfmPassword" class="form-control" placeholder="Confirm Password" value="{{cfmPassword}}" required>
						<div class="invalid-tooltip">
							{{errors.cfmPassword}}
						</div>
					</div>

					<input class="d-none" type="hidden" name="accType" value="service" />

					<button class="btn btn-outline-primary btn-rounded btn-block" type="submit">
						<i class="far fa-sign-in-alt"></i> REGISTER
					</button>
				</form>

				<h5 class="card-title mt-5">SOCIAL LOGIN</h5>
				<hr class="my-2">

				<div class="flex-fill text-center">
					<button class="btn-floating btn-lg btn-fb" type="button">
						<i class="fab fa-facebook-f"></i> Facebook
					</button>
					<button class="btn-floating btn-lg btn-tw" type="button">
						<i class="fab fa-twitter"></i> Twitter
					</button>
					<button class="btn-floating btn-lg btn-git" type="button">
						<i class="fab fa-github"></i> Github
					</button>
				</div>
			</div>
			
			<div class="card-footer">
				<p class="text-center small m-0">
					Have an account? <a href="" data-toggle="modal" data-target="#loginModel">Login Here</a>
				</p>
			</div>
		</div>
	</div>
</section>