<div class="accordion md-accordion" id="accordionServices1" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div id="collapseServices1" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio1"
            data-parent="#accordionServices1">
            <div class="card-body">
            {{#if favs}}
            <div class="row justify-content-start">
                {{#each favs}}
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="z-depth-2 card">
                        <div class="view overlay">
                            <img onerror='this.src = "/img/services/default.jpg"' class="card-img-top"
                                src="/uploads/services/{{uid}}/{{id}}.png">
                        </div>
                        <div class="btn-action ml-auto mr-3">
                            <a class="btn-floating btn-primary m-0 material-tooltip-sm" data-tooltip="tooltip"
                                data-placement="top" title="View More Details" href="/services/view/{{uid}}/{{id}}">
                                <i class="far fa-eye"></i>
                            </a>
                        </div>
                        <div class="text-left mx-auto white mt-4">
                            <span class="seller-img">
                                <img onerror='this.src = "/img/profile/default.png"'
                                    src="/uploads/profile/{{this.uid}}/profilePic.png"
                                    class="sellerav rounded-circle lozad img-fluid border" alt="">
                            </span>
                            <span>
                                <a href="/profile/view/{{this.uid}}" class="seller">{{this.username}}</a>
                            </span>
                        </div>

                        <div class="card-body pb-2">
                            <div class="d-flex mt-3">
                                <div class="flex-fill">
                                    <h4 class="card-title mb-0" data-names="{{name}}">
                                        {{name}}</h4>
                                </div>
                                <div class="flex-fill text-right">
                                    <span class="font-weight-bold">{{views}}</span>
                                    <i class="far fa-eye fa-fw ml-1"></i>
                                </div>
                            </div>

                            <hr>

                            <p class="card-text">
                                {{desc}}
                                <br>
                                Last Updated: {{date}}
                            </p>
                            <div class="viewcounts text-right mt-4 text-right">
                                <form method="post" action="/services/fav/{{id}}">
                                    <button class="favs btn btn-sm btn-red material-tooltip-sm" data-tooltip="tooltip"
                                        data-placement="top" title="Favourite/Unfavourite" type="submit">
                                        <span class="font-weight-bold">{{favourites}}</span>
                                        <i class="fas fa-heart fa-fw"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                            <h5 class="m-0">
                                ${{price}}
                            </h5>
                        </div>

                    </div>
                </div>
                {{/each}}
            </div>
            {{else}}
            <h1>No Favourites</h1>
            {{/if}}
        </div>

    </div>
</div>



</div>