<div class="accordion md-accordion" id="accordionEx4" role="tablist" aria-multiselectable="true">
    <div class="card">

        <!-- Card header -->
        {{!-- <div class="card-header" role="tab" id="headingPortfolio4">

            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx4" href="#collapsePortfolio4"
                aria-expanded="true" aria-controls="collapsePortfolio4">

                <h2 class="mb-0 text-dark">
                    Test Images<i class="fas fa-angle-down rotate-icon"></i>
                </h2>
            </a>

        </div> --}}

        <!-- Card body -->
        <div id="collapsePortfolio4" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio4"
            data-parent="#accordionEx4">

            <div class="card-body">
                {{#if projects}}
                <div class="row justify-content-start">
                    {{#if viewuser.id}}
                    {{else}}
                    <div class="col-sm-5 col-lg-4 py-0 px-1">
                        <div class="portoflio-img-sm view overlay mb-1 rounded border border-depth-2 p-0">


                            <div class="h-100 row mx-auto">
                                <div class="col align-self-center">
                                    <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

                                </div>
                            </div>
                            <a href="/profile/submit">
                                <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                    <h2 class="text-white">Add Project</h2>

                                </div>
                            </a>
                        </div>
                    </div>
                    {{/if}}

                    {{#each projects}}
                    <div class="col-sm-5 col-lg-4 py-0 px-1">
                        <div class="portoflio-img-sm view overlay mb-1 rounded border-depth-2 p-0" data-toggle="modal"
                            data-target="#project{{id}}">

                            <img src="/uploads/profile/{{uid}}/projects/{{id}}.png" class="h-100 lozad mx-auto d-block"
                                alt="">

                            <div id="viewproject{{id}}" onclick="viewProject({{id}})"
                                class="mask flex-center waves-effect waves-light rgba-black-strong">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            {{title}}
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            {{#if ../viewuser.id}}
                                            {{../viewuser.username}}
                                            {{else}}
                                            {{../user.username}}
                                            {{/if}}
                                        </h6>

                                        <h6 class="white-text text-right col-6">

                                            <i class="far fa-heart"></i>
                                            {{#if likes}}
                                            {{getNum likes}}
                                            {{else}}
                                            0
                                            {{/if}}&nbsp;

                                            <i class="fas fa-comment"></i>
                                            {{#if comments}}
                                    {{comments.length}}
                                    {{else}}
                                    0
                                    {{/if}}
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                {{#extend 'scripts'}}

                <script src="/js/displayPortfolio.js"></script>

                {{/extend}}
                {{else}}

                <div class="row justify-content-center">
                    {{#if viewuser.id}}
                    <h1 class="my-5 py-5">This user has no Projects</h1>
                    {{else}}
                    <h1></h1>
                    {{/if}}
                </div>

                {{#if viewuser.id}}
                {{else}}
                <div class="row justify-content-start">
                    <div class="col-sm-5 col-lg-4 py-0 px-1">
                        <div class="portoflio-img-sm view overlay mb-1 rounded border border-depth-2 p-0">
                            <div class="h-100 row mx-auto">
                                <div class="col align-self-center">
                                    <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

                                </div>
                            </div>
                            <a href="/profile/submit">
                                <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                    <h2 class="text-white">Add Project</h2>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{/if}}
            </div>

        </div>
    </div>
</div>

{{!-- =================================================== Modals =================================================== --}}

{{#extend 'modals'}}
{{#if projects}}
<section class="profile-modal">
    {{#each projects}}
    <!-- Portfolio Modal -->
    <div class="modal fade project" id="project{{id}}" tabindex="-1" role="dialog" aria-labelledby="project{{id}}Label"
        aria-hidden="true">


        <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>

        <div class="modal-dialog-project modal-dialog" role="document">
            <div class="modal-content mt-5 p-0">

                <div class="modal-header">
                    <div class="col-12 row justify-content-between">
                        <div class="col-lg-3 col-sm-12 row justify-content-start pl-4">

                            <div class="col-2 align-self-center p-0 h-100">
                                <img onerror='this.src = "/img/profile/default.png"'
                                    src="/uploads/profile/{{uid}}/profilePic.png"
                                    class="white img-fluid rounded-circle lozad " alt="">
                            </div>

                            <div class="col-8 align-self-center pl-3 h-100">
                                <div class="row m-auto h-100 p-0">
                                    <h5 class="col-12 p-0 align-self-start text-left font-weight-bold">
                                        {{title}}</h5>
                                    <a href="
                                        {{#if ../viewuser}}
                                        /profile/view/{{../viewuser.id}}
                                    {{else}}
                                    /profile/view/{{../user.id}}
                                    {{/if}}
                                    ">
                                        <h6 class="col-12 p-0 align-self-end text-left">
                                            {{#if ../viewuser}}
                                            {{../viewuser.username}}
                                            {{else}}
                                            {{../user.username}}
                                            {{/if}}
                                        </h6>
                                    </a>
                                </div>

                            </div>

                        </div>
                        {{#if ../viewuser}}
                        <div class="col-lg-2 col-sm-12 row justify-content-end px-0">
                            <div class="col-lg-8 col-sm-12 align-self-center pr-0">
                                {{#checkLiked likes ../user.id}}

                                <button onclick="unlikeProject({{id}})" id="likeButton"
                                    class="btn btn-danger btn-block btn-rounded">
                                    <i class="far fa-heart"></i> Liked
                                </button>

                                {{else}}
                                <button onclick="likeProject({{id}})" id="likeButton"
                                    class="btn btn-outline-danger btn-block btn-rounded">
                                    <i class="far fa-heart"></i> Like
                                </button>

                                {{/checkLiked}}
                            </div>
                        </div>
                        {{else}}
                        <div class="col-lg-3 col-sm-12 row justify-content-end px-0">
                            <div id="deleteButton" class="row justify-content-between">
                                <a href="/profile/editProject/{{id}}">
                                    <button type="button" class="btn btn-success justify-content-center">
                                        <i class="fas fa-edit fa-lg"></i> &nbsp; Edit
                                    </button>
                                </a>

                                <a data-toggle="modal" data-target="#confirmDelete{{id}}">
                                    <button type="button" class="btn btn-danger justify-content-center">
                                        <i class="fas fa-trash-alt fa-lg"></i> &nbsp; Delete
                                    </button>
                                </a>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>

                <div class="modal-body black p-0">
                    {{!-- ======================= Content ======================= --}}
                    <div id="contentTest" class="col-12 overflow-auto white p-4 min-vh-80">
                        <div id="realcontent" style="display:none">{{content}}</div>
                    </div>


                    {{!-- ======================= Services ======================= --}}
                    <div class="container black w-100 row justify-content-center mx-0 py-5">

                        <div class="row justify-content-center">
                            <img onerror='this.src = "/img/profile/default.png"'
                                src="/uploads/profile/{{#if ../viewuser}}{{../viewuser.id}}{{else}}{{../user.id}}{{/if}}/profilePic.png"
                                class="white img-fluid rounded-circle lozad w-20" style="">
                            <h3 class="col-12 text-center white-text font-weight-bold my-3">
                                Services by
                                {{#if ../viewuser}}
                                {{../viewuser.username}}
                                {{else}}
                                {{../user.username}}
                                {{/if}}
                            </h3>
                        </div>
                        {{#if ../services}}
                        <div class="row col-12 justify-content-around">
                            {{#each ../services}}
                            <div class="card-body border-purple white col-lg-3 col-sm-12 rounded mx-2">
                                <div class="row justify-content-around">

                                    <div class="card">
                                        <div class="view overlay">
                                            <img class="card-img-top service-img"
                                                src="/uploads/services/{{uid}}/{{id}}.png">
                                        </div>

                                        <a class="btn-floating btn-action btn-deep-purple ml-auto mr-4 material-tooltip-sm"
                                            data-tooltip="tooltip" data-placement="top" title="View More Details"
                                            href="/services/view/{{uid}}/{{id}}">
                                            <i class="far fa-eye"></i>
                                        </a>

                                        <div class="card-body">
                                            <h4 class="card-title name" data-names="Service Title">
                                                {{name}}</h4>

                                            <hr>

                                            <p class="card-text">
                                                {{desc}}
                                            </p>
                                        </div>

                                        <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                                            <h5 class="m-0">
                                                ${{price}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{else}}
                        <div class="row col-12 justify-content-around">
                            <h4 class="text-white my-5"> This user has no services </h4>

                        </div>
                        {{/if}}
                    </div>


                </div>

                <div class="modal-footer blue-grey lighten-5 row mx-auto justify-content-around col-12">

                    {{!-- Comments --}}
                    <div class="col-lg-8 col-sm-12 border p-4 white">
                        <h4 class="text-center"> Comments </h4>
                        <hr class="hr-primary">





                        <form class="chat-message flex-fill" id="commentForm{{id}}" method="POST"
                            action="/profile/commentProject/{{id}}">
                            <ul class="list-unstyled chat">

                                <li class="row mb-4">

                                    <div class="col-1 pr-2">
                                        <img class="avatar img-fluid rounded-circle deep-purple accent-3 z-depth-1"
                                            id="profileimg" onerror='this.src = "/img/profile/default.png"'
                                            src="/uploads/profile/{{../user.id}}/profilePic.png">
                                    </div>

                                    <div class="col-11 pl-2">
                                        <div class="chat-body rounded white p-3 z-depth-1">
                                            <div class="header d-flex">
                                                <div class="flex-fill text-left">
                                                    <strong class="primary-font"
                                                        id="formUsername">{{../user.username }}</strong>
                                                </div>
                                            </div>

                                            <hr class="w-100">


                                            <textarea class="form-control" name="commentContent"
                                                id="commentContent{{id}}" maxlength="300"></textarea>


                                        </div>
                                        <div class="row justify-content-end mx-auto">
                                            <button class="btn btn-secondary" onclick="submitComment({{id}})"> Submit
                                                Comment </button>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </form>


                        <hr class="hr-primary">
                        {{#if comments}}
                        <div class="chat-message flex-fill">
                            <ul class="list-unstyled chat" id="hrAfter{{id}}">
                                {{#each comments}}
                                <li class="row mb-4">

                                    <div class="col-1 pr-2">
                                        {{#ifFile (concat './public/uploads/profile/' this.uid '/profilePic.png') }}
                                        <img class="avatar img-fluid rounded-circle deep-purple accent-3 z-depth-1"
                                            src="/uploads/profile/{{ uid }}/profilePic.png">
                                        {{else}}
                                        <div
                                            class="deep-purple accent-3 white-text text-center rounded-circle z-depth-1 py-4">
                                            <i class="far fa-user fa-lg"></i>
                                        </div>
                                        {{/ifFile}}
                                    </div>

                                    <div class="col-11 pl-2">
                                        <div class="chat-body rounded white p-3 z-depth-1">
                                            <div class="header d-flex">
                                                <div class="flex-fill text-left">
                                                    <strong class="primary-font">{{ username }}</strong>
                                                </div>
                                                <div class="flex-fill text-right">
                                                    <small class="pull-right text-muted">
                                                        <i class="far fa-clock mr-1"></i>{{ date }}
                                                    </small>
                                                </div>
                                            </div>

                                            <hr class="w-100">

                                            <p class="text-left mb-0">
                                                {{ content }}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{else}}
                        <h5 class="text-center mb-3 text-muted">
                            <i class="far fa-comment-times fa-3x"></i>
                        </h5>

                        <h5 class="text-center text-muted">
                            No Comments
                        </h5>
       
                        {{/if}}



                    </div>

                    {{!-- Details --}}

                    <div class="col-lg-3 col-sm-12 border p-4 white align-self-start">
                        <h4 class="text-center"> Details </h4>
                        <hr class="hr-primary w-100">

                        <div class="row justify-content-between">
                            <div class="col-6">
                                <p class="text-right font-weight-bold"> Last Update:</p>
                                <p class="text-right font-weight-bold"> Views: </p>
                                <p class="text-right font-weight-bold"> Likes: </p>
                                <p class="text-right font-weight-bold"> Comments: </p>
                            </div>
                            <div class="col-6">
                                <p class="text-left"> {{formatDate datePosted "DD/MM/YYYY"}}</p>
                                <p class="text-left"> {{views}}</p>
                                <p class="text-left">
                                    {{#if likes}}
                                    {{getNum likes}}
                                    {{else}}
                                    0
                                    {{/if}}</p>
                                <p class="text-left"> 
                                    {{#if comments}}
                                    {{comments.length}}
                                    {{else}}
                                    0
                                    {{/if}}
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </div>

    <!-- Delete Project Modal -->
    <div class="modal fade" id="confirmDelete{{id}}" tabindex="-1" role="dialog"
        aria-labelledby="confirmDelete{{id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-center col-12">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <p class="my-3 text-center">
                        Are you sure you want to delete <br>{{title}}?
                    </p>
                </div>
                <div class="modal-footer py-1">
                    <div class="row justify-content-between mx-auto w-100">
                        <a href="/profile/delete/{{id}}">
                            <button type="button" class="btn btn-danger">
                                Yes

                            </button>
                        </a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
</section>

{{#if open}}
<p id="openEvent">{{open}}</p>
{{#extend 'scripts'}}
<script>
    $(function () {
        id = $('#openEvent').html()
        $('#project' + id).modal('show')


        url = '/profile/viewProject/' + id
        $.ajax({
            url: url,
            //data: data,
            method: 'GET'
        }).then(function (response) {

            $('#viewproject' + id).attr('onclick', ``)

        }).catch(function (err) {
            console.error(err);
        });
    })
</script>
{{/extend}}
{{/if}}

{{#extend 'scripts'}}
<script>
    $("[id^=deleteButton]").on("click",
        function () {
            setTimeout(function () {
                backdrop = document.querySelectorAll('.modal-backdrop')
                backdrop[1].style.zIndex = 1060;
            }, 10)
        }
    )
</script>

<script>
    $("[id^=confirmDelete]").on('show.bs.modal', function (e) {
        idname = $(this).attr('id').toString()

        num = idname.slice((idname.length - 2), idname.length)
        $("#project" + num).modal('hide')

    })

    $("[id^=confirmDelete]").on('hide.bs.modal', function (e) {
        idname = $(this).attr('id').toString()

        num = idname.slice((idname.length - 2), idname.length)
        setTimeout(function () {
            $("#project" + num).modal('show')
            console.log("eh")
        }, 400)

    })
</script>

<script>
    function submitComment(id) {
        function formatDate(date) {
            var monthNames = [
                "Jan", "Feb", "Mar",
                "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct",
                "Nov", "Dec"
            ];

            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hours = date.getHours()
            var minutes = date.getMinutes()
            return day + ' ' + monthNames[monthIndex] + ' ' + year + ' ' + hours + ":" + minutes;
        }

        now = formatDate(new Date())
        $('#commentForm' + id).submit(function (e) {
            e.preventDefault()
            e.stopImmediatePropagation()
            url = '/profile/commentProject/' + id
            data = $(this).serialize()
            $.ajax({
                url: url,
                data: data,
                method: 'POST'
            }).then(function (response) {



                $('#hrAfter' + id).prepend(`<li class="row mb-4">

                                    <div class="col-1 pr-2">
                        
                                        <img class="avatar img-fluid rounded-circle deep-purple accent-3 z-depth-1"
                                            onerror='this.src = "/img/profile/default.png"'
                                                src="${$('#profileimg').attr('src')}">
                                     
                                    </div>

                                    <div class="col-11 pl-2">
                                        <div class="chat-body rounded white p-3 z-depth-1">
                                            <div class="header d-flex">
                                                <div class="flex-fill text-left">
                                                    <strong class="primary-font">${$('#formUsername').text()}</strong>
                                                </div>
                                                <div class="flex-fill text-right">
                                                    <small class="pull-right text-muted">
                                                        <i class="far fa-clock mr-1"></i>${new Date()}
                                                    </small>
                                                </div>
                                            </div>

                                            <hr class="w-100">

                                            <p class="text-left mb-0">
                                               ${$('#commentContent' + id).val()}
                                            </p>
                                        </div>
                                    </div>
                                </li>`

                )

                $('#commentContent' + id).val('')
            }).catch(function (err) {
                console.error(err);
            });
            return false;
        })


    }
    function viewProject(id) {
        url = '/profile/viewProject/' + id
        $.ajax({
            url: url,
            //data: data,
            method: 'GET'
        }).then(function (response) {

            $('#viewproject' + id).attr('onclick', ``)

        }).catch(function (err) {
            console.error(err);
        });
    }
    function likeProject(id) {
        url = '/profile/like/' + id
        $.ajax({
            url: url,
            //data: data,
            method: 'GET'
        }).then(function (response) {

            $('#likeButton').addClass('btn-danger')
            $('#likeButton').removeClass('btn-outline-danger')
            $('#likeButton').html('Liked')
            $('#likeButton').attr('onclick', `unlikeProject(${id})`)

        }).catch(function (err) {
            console.error(err);
        });
    }
    function unlikeProject(id) {
        url = '/profile/unlike/' + id
        $.ajax({
            url: url,
            //data: data,
            method: 'GET'
        }).then(function (response) {

            $('#likeButton').addClass('btn-outline-danger')
            $('#likeButton').removeClass('btn-danger')
            $('#likeButton').html('Like')
            $('#likeButton').attr('onclick', `likeProject(${id})`)

        }).catch(function (err) {
            console.error(err);
        });
    }
</script>
{{/extend}}
{{/if}}
{{/extend}}