<div class="accordion md-accordion" id="accordionEx4" role="tablist" aria-multiselectable="true">
    <div class="card">

        <!-- Card header -->
        {{!-- <div class="card-header" role="tab" id="headingPortfolio4">

            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx4" href="#collapsePortfolio4"
                aria-expanded="true" aria-controls="collapsePortfolio4">

                <h2 class="mb-0 text-dark">
                    Test Images<i class="fas fa-angle-down rotate-icon"></i>
                </h2>
            </a>

        </div> --}}

        <!-- Card body -->
        <div id="collapsePortfolio4" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio4"
            data-parent="#accordionEx4">

            <div class="card-body">
                {{#if projects}}
                <div class="row justify-content-start">
                    {{#if ../viewuser.id}}
                    {{else}}
                    <div class="col-sm-5 col-lg-4 py-0 px-1">


                        <div class="portoflio-img-sm view overlay mb-1 rounded border border-depth-2 p-0">


                            <div class="h-100 row mx-auto">
                                <div class="col align-self-center">
                                    <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

                                </div>
                            </div>
                            <a href="/profile/submit">
                                <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                    <h2 class="text-white">Add Project</h2>

                                </div>
                            </a>
                        </div>
                    </div>
                    {{/if}}
                    {{#each projects}}
                    <div class="col-sm-5 col-lg-4 py-0 px-1">
                        <div class="portoflio-img-sm view overlay mb-1 rounded border-depth-2 p-0" data-toggle="modal"
                            data-target="#project{{id}}">

                            <img src="/uploads/profile/{{uid}}/projects/{{id}}.png" class="h-100 lozad mx-auto d-block"
                                alt="">

                            <div class="mask flex-center waves-effect waves-light rgba-black-strong">
                                <div
                                    class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                    <div class="row col-12 justify-content-between p-0">
                                        <h5 class="col-12 text-white text-left font-weight-bold">
                                            {{title}}
                                        </h5>
                                        <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                            {{#if ../viewuser.id}}
                                            {{../viewuser.username}}
                                            {{else}}
                                            {{../user.username}}
                                            {{/if}}
                                        </h6>

                                        <h6 class="white-text text-right col-5">
                                            <i class="far fa-heart"></i>
                                            {{likes}} &nbsp;

                                            <i class="fas fa-comment"></i>
                                            20
                                        </h6>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                {{#extend 'scripts'}}

                <script src="/js/displayPortfolio.js"></script>

                {{/extend}}
                {{else}}

                <div class="row justify-content-center">
                    <h1>{{#if viewuser.id}}
                        This user has no Projects
                        {{else}}
                        
                        {{/if}}</h1>
                </div>

                {{#if viewuser.id}}
                {{else}}
                <div class="row justify-content-start">


                    <div class="col-sm-5 col-lg-4 py-0 px-1">
                        <div class="portoflio-img-sm view overlay mb-1 rounded border border-depth-2 p-0">
                            <div class="h-100 row mx-auto">
                                <div class="col align-self-center">
                                    <i class="fa fa-plus fa-7x" aria-hidden="true"></i>

                                </div>
                            </div>
                            <a href="/profile/submit">
                                <div class="mask flex-center waves-effect waves-light rgba-black-light">
                                    <h2 class="text-white">Add Project</h2>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {{/if}}

                {{/if}}
            </div>
        </div>
    </div>
</div>

{{!-- =================================================== Modals =================================================== --}}

{{#extend 'modals'}}
{{#if projects}}
<section class="profile-modal">
    {{#each projects}}
    <!-- Portfolio Modal -->
    <div class="modal fade project" id="project{{id}}" tabindex="-1" role="dialog" aria-labelledby="project{{id}}Label"
        aria-hidden="true">


        <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>

        <div class="modal-dialog-project modal-dialog" role="document">
            <div class="modal-content mt-5 p-0">

                <div class="modal-header">
                    <div class="col-12 row justify-content-between">
                        <div class="col-3 row justify-content-start">

                            <div class="col-2 align-self-center p-0 h-100">
                                <img src="https://picsum.photos/id/659/100/"
                                    class="white img-fluid rounded-circle lozad " alt="">
                            </div>

                            <div class="col-8 align-self-center pl-3 h-100">
                                <div class="row m-auto h-100 p-0">
                                    <h5 class="col-12 p-0 align-self-start text-left font-weight-bold">
                                        {{title}}</h5>
                                    <h6 class="col-12 p-0 align-self-end text-left">
                                        {{../user.username}} </h6>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-body justify-content-center black p-0">
                    {{!-- ======================= Content ======================= --}}
                    <div id="contentTest" class="col-12 overflow-auto white p-4">
                        <div id="realcontent" style="display:none">{{content}}</div>
                    </div>

                    {{#if ../services}}
                    {{!-- ======================= Services ======================= --}}
                    <div class="container black w-100 row justify-content-center mx-0 py-5">
                        <div class="row justify-content-center">
                            <img src="https://picsum.photos/id/659/100/" class="white img-fluid rounded-circle lozad"
                                alt="">
                            <h3 class="col-12 text-center white-text font-weight-bold my-3">
                                Services by {{../user.usernames}}
                            </h3>
                        </div>

                        <div class="row col-12 justify-content-around">
                            {{#each ../services}}
                            <div class="card-body border-purple white col-3 rounded mx-2">
                                <div class="row justify-content-around">

                                    <div class="card">
                                        <div class="view overlay">
                                            <img class="card-img-top service-img"
                                                src="/uploads/services/{{uid}}/{{id}}.png">
                                        </div>

                                        <a class="btn-floating btn-action btn-deep-purple ml-auto mr-4 material-tooltip-sm"
                                            data-tooltip="tooltip" data-placement="top" title="View More Details"
                                            href="#">
                                            <i class="far fa-eye"></i>
                                        </a>

                                        <div class="card-body">
                                            <h4 class="card-title name" data-names="Service Title">
                                                {{name}}</h4>

                                            <hr>

                                            <p class="card-text">
                                                {{desc}}
                                            </p>
                                        </div>

                                        <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                                            <h5 class="m-0">
                                                ${{price}}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                    </div>
                    {{else}}
                    <h1> Eh </h1>
                    {{/if}}
                </div>

                <div class="modal-footer blue-grey lighten-5 ">
                    <div class="row col-12 justify-content-around mx-0">
                        {{!-- Comments --}}
                        <div class="col-8 border-purple rounded p-4 white">
                            <h4 class="text-center"> Comments </h4>
                            <hr class="hr-purple w-100">

                            <div class="row my-3 mx-auto">
                                <div class="col-1 p-0">
                                    <img src="https://picsum.photos/100/"
                                        class="white w-100 img-fluid rounded-circle lozad " alt="">
                                </div>
                                <div class="col-10 ">
                                    <h5 class="text-left h5-responsive"> John Smith &nbsp;
                                        <small class="text-muted"> 21
                                            May 2019 </small>
                                    </h5>

                                    <p class="text-left"> Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit, sed do eiusmod
                                        tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                        dolor in reprehenderit in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt
                                        mollit
                                        anim id est laborum.</p>
                                </div>
                            </div>

                            <div class="row my-3 mx-auto">
                                <div class="col-1 p-0">
                                    <img src="https://picsum.photos/110/"
                                        class="white w-100 img-fluid rounded-circle lozad " alt="">
                                </div>
                                <div class="col-10 ">
                                    <h5 class="text-left h5-responsive"> Albert Einstein &nbsp;
                                        <small class="text-muted"> 22
                                            May 2019 </small>
                                    </h5>

                                    <p class="text-left"> Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit, sed do eiusmod
                                        tempor incididunt ut
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-3 border-purple rounded p-3 white row justify-content-center">
                            <h4 class="text-center"> Details </h4>
                            <hr class="hr-purple w-100">
                            <div class="col-12 row justify-content-between border">
                                <div class="col-6">
                                    <p class="text-right font-weight-bold"> Posted on:</p>
                                    <p class="text-right font-weight-bold"> Views: </p>
                                    <p class="text-right font-weight-bold"> Likes: </p>
                                    <p class="text-right font-weight-bold"> Comments: </p>
                                </div>
                                <div class="col-6">
                                    <p class="text-left"> {{formatDate datePosted "DD/MM/YYYY"}}</p>
                                    <p class="text-left"> {{views}}</p>
                                    <p class="text-left"> {{likes}}</p>
                                    <p class="text-left"> 2</p>
                                </div>
                            </div>

                            <div id="deleteButton" class="row justify-content-center col-12 align-self-end px-0 border">
                                <a data-toggle="modal" data-target="#confirmDelete{{id}}">
                                    <button type="button"
                                        class="btn btn-danger d-flex flex-fill justify-content-center">
                                        <i class="fas fa-trash-alt fa-lg"></i> &nbsp; Delete

                                    </button>
                                </a>

                                <a href="/profile/editProject/{{id}}">
                                    <button type="button"
                                        class="btn btn-success d-flex flex-fill justify-content-center">
                                        <i class="fas fa-edit fa-lg"></i> &nbsp; Edit

                                    </button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Delete Project Modal -->
    <div class="modal fade" id="confirmDelete{{id}}" tabindex="-1" role="dialog"
        aria-labelledby="confirmDelete{{id}}Label" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="my-2 row justify-content-around mx-auto col-12">
                    <a href="/profile/delete/{{id}}">
                        <button type="button" class="btn btn-danger">
                            Yes

                        </button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                </div>

            </div>
        </div>
    </div>

    {{/each}}
</section>

{{#extend 'scripts'}}
<script>
    $("[id^=deleteButton]").on("click",
        function () {
            setTimeout(function () {
                backdrop = document.querySelectorAll('.modal-backdrop')
                backdrop[1].style.zIndex = 1060;
            }, 10)
        }
    )
</script>

<script>
    $("[id^=confirmDelete]").on('show.bs.modal', function (e) {
        idname = $(this).attr('id').toString()

        num = idname.slice((idname.length - 2), idname.length)
        $("#project" + num).modal('hide')

    })

    $("[id^=confirmDelete]").on('hide.bs.modal', function (e) {
        idname = $(this).attr('id').toString()

        num = idname.slice((idname.length - 2), idname.length)
        setTimeout(function () {
            $("#project" + num).modal('show')
            console.log("eh")
        }, 400)

    })
</script>
{{/extend}}
{{/if}}
{{/extend}}