<button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="text-white">&times;</span>
</button>

<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content mt-5 p-0">

        <div class="modal-header">
            <div class="col-12 row justify-content-between">
                <div class="col-3 row justify-content-start">

                    <div class="col-2 align-self-center p-0 h-100">
                        <img src="https://picsum.photos/id/659/100/" class="white img-fluid rounded-circle lozad "
                            alt="">
                    </div>

                    <div class="col-8 align-self-center pl-3 h-100">
                        <div class="row m-auto h-100 p-0">
                            <h5 class="col-12 p-0 align-self-start text-left font-weight-bold">
                                {{title}}</h5>
                            <h6 class="col-12 p-0 align-self-end text-left"> John Doe</h6>
                        </div>

                    </div>
                </div>
                {{!-- <div class="col-2 align-self-center row justify-content-end p-0">
                    
                </div> --}}
                <div class="col-4 align-self-center row justify-content-end p-0">
                    
                    <a href="/profile/delete/{{id}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    {{!-- <button type="button" class="btn btn-secondary col-5">Follow</button> --}}
                </div>
            </div>



        </div>


    </div>

    <div class="modal-body justify-content-center black p-0">
        {{!-- ======================= Content ======================= --}}
        <div id="contentTest" class="col-12 overflow-auto white p-4">

            <div id="realcontent" style="display:none">{{content}}</div>
        </div>


        {{!-- ======================= Services ======================= --}}
        <div class="container black w-100 row justify-content-center mx-0 py-5">
            <div class="row justify-content-center">
                <img src="https://picsum.photos/id/659/100/" class="white img-fluid rounded-circle lozad" alt="">
                <h3 class="col-12 text-center white-text font-weight-bold my-3">
                    Services by John Doe
                </h3>
            </div>

            <div class="row col-12 justify-content-around">
                <div class="card-body border-purple white rounded mx-2">
                    <div class="row justify-content-around">

                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top service-img" src="https://picsum.photos/300/300">
                            </div>

                            <a class="btn-floating btn-action btn-deep-purple ml-auto mr-4 material-tooltip-sm"
                                data-tooltip="tooltip" data-placement="top" title="View More Details" href="#">
                                <i class="far fa-eye"></i>
                            </a>

                            <div class="card-body">
                                <h4 class="card-title name" data-names="Service Title">
                                    Digital
                                    Painting</h4>

                                <hr>

                                <p class="card-text">
                                    I will paint whatever you want digitally
                                </p>
                            </div>

                            <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                                <h5 class="m-0">
                                    $50
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-purple white rounded mx-2">
                    <div class="row justify-content-around">

                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top service-img" src="https://picsum.photos/400">
                            </div>

                            <a class="btn-floating btn-action btn-deep-purple ml-auto mr-4 material-tooltip-sm"
                                data-tooltip="tooltip" data-placement="top" title="View More Details" href="#">
                                <i class="far fa-eye"></i>
                            </a>

                            <div class="card-body">
                                <h4 class="card-title name" data-names="Service Title">
                                    Logo
                                    Design</h4>

                                <hr>

                                <p class="card-text">
                                    I can make professional logos for you
                                </p>
                            </div>

                            <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                                <h5 class="m-0">
                                    $100
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-purple white rounded mx-2">
                    <div class="row justify-content-around ">

                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top service-img" src="https://picsum.photos/600">
                            </div>

                            <a class="btn-floating btn-action btn-deep-purple ml-auto mr-4 material-tooltip-sm"
                                data-tooltip="tooltip" data-placement="top" title="View More Details" href="#">
                                <i class="far fa-eye"></i>
                            </a>

                            <div class="card-body">
                                <h4 class="card-title name" data-names="Service Title">
                                    Twitch
                                    Emotes Creation</h4>

                                <hr>

                                <p class="card-text">
                                    I'll make twitch emotes for you!
                                </p>
                            </div>

                            <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                                <h5 class="m-0">
                                    $25/emotes
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer blue-grey lighten-5 ">
        <div class="row col-12 justify-content-around mx-0 ">
            <div class="col-8 border-purple rounded p-4 white">
                <h4 class="text-center"> Comments </h4>
                <hr class="hr-purple w-100">

                <div class="row my-3 mx-auto">
                    <div class="col-1 p-0">
                        <img src="https://picsum.photos/100/" class="white w-100 img-fluid rounded-circle lozad "
                            alt="">
                    </div>
                    <div class="col-10 ">
                        <h5 class="text-left h5-responsive"> John Smith &nbsp;
                            <small class="text-muted"> 21
                                May 2019 </small>
                        </h5>

                        <p class="text-left"> Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</p>
                    </div>
                </div>

                <div class="row my-3 mx-auto">
                    <div class="col-1 p-0">
                        <img src="https://picsum.photos/110/" class="white w-100 img-fluid rounded-circle lozad "
                            alt="">
                    </div>
                    <div class="col-10 ">
                        <h5 class="text-left h5-responsive"> Albert Einstein &nbsp;
                            <small class="text-muted"> 22
                                May 2019 </small>
                        </h5>

                        <p class="text-left"> Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod
                            tempor incididunt ut
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-3 border-purple rounded p-4 white">
                <h4 class="text-center"> Details </h4>
                <hr class="hr-purple w-100">


                <div class="row justify-content-start">
                    <div class="col-5">
                        <p class="text-right"> Posted on:</p>
                        <p class="text-right"> Views: </p>
                        <p class="text-right"> Likes: </p>
                        <p class="text-right"> Comments: </p>
                    </div>

                    <div class="col-5">
                        <p class="text-left"> {{formatDate datePosted "DD MMMM YYYY"}}</p>
                        <p class="text-left"> {{views}}</p>
                        <p class="text-left"> {{likes}}</p>
                        <p class="text-left"> 2</p>

                    </div>

                </div>

            </div>


        </div>

    </div>
</div>