<div class="accordion md-accordion" id="accordionEx4" role="tablist" aria-multiselectable="true">
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingPortfolio4">

            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx4" href="#collapsePortfolio4"
                aria-expanded="true" aria-controls="collapsePortfolio4">

                <h2 class="mb-0 text-dark">
                    Test Images<i class="fas fa-angle-down rotate-icon"></i>
                </h2>
            </a>

        </div>

        <!-- Card body -->
        <div id="collapsePortfolio4" class="collapse show" role="tabpanel" aria-labelledby="headingPortfolio4"
            data-parent="#accordionEx4">

            <div class="card-body">
                {{#if projects}}
                <div class="row justify-content-start">
                    {{#each projects}}
                    <div class="view overlay portoflio-img-sm m-1 rounded border z-depth-2" data-toggle="modal"
                        data-target="#project{{id}}">

                        <img src="/uploads/profile/{{uid}}/projects/{{id}}.png" class="h-100 lozad" alt="">

                        <div class="mask flex-center waves-effect waves-light rgba-black-strong">
                            <div
                                class="row col-12 align-items-end justify-content-end justify-content-around p-0 h-100">

                                <div class="row col-12 justify-content-between p-0">
                                    <h5 class="col-12 text-white text-left font-weight-bold">
                                        {{title}}
                                    </h5>
                                    <h6 style="font-size:2vh;" class="col-5 white-text text-left font-weight-bold">
                                        John Doe
                                    </h6>

                                    <h6 class="white-text text-right col-5">
                                        <i class="far fa-heart"></i>
                                        {{likes}} &nbsp;

                                        <i class="fas fa-comment"></i>
                                        20
                                    </h6>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="project{{id}}" tabindex="-1" role="dialog"
                        aria-labelledby="project{{id}}Label" aria-hidden="true">
                        {{>profile/_portfolioModal}}
                    </div>
                    {{/each}}
                </div>
                {{#extend 'scripts'}}

                <script src="/js/displayPortfolio.js"></script>

                {{/extend}}
                {{else}}
                <h1>No Projects</h1>
                {{/if}}


            </div>

        </div>


    </div>
</div>