<section class="profile">

    <!-- Card -->
    <div class="card testimonial-card z-depth-2">
        <!-- Background color -->
        <div class="vh-40 card-up indigo lighten-1 rounded-0 jarallax">
            <img class="img-fluid jarallax-img lozad" src="https://picsum.photos/1200/500" alt="">
            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                <div class="h-100 w-100 col-12 align-items-end row justify-content-end p-0">
                    <div id="socialmedias" class="row col-3 justify-content-center p-1 mr-2">

                        <a href="http://twitter.com/" class="col text-center "><i
                                class="fab fa-twitter fa-2x text-white text-center"></i></a>


                        <a href="http://instagram.com/" class="col text-center "><i
                                class="fab fa-instagram fa-2x text-white text-center"></i></a>


                        <a href="https://www.facebook.com/" class="col text-center "><i
                                class="fab fa-facebook fa-2x text-white text-center"></i></a>


                        <a href="https://www.youtube.com/" class="col text-center "><i
                                class="fab fa-youtube fa-2x text-white text-center"></i></a>


                        <a href="https://www.deviantart.com/" class="col text-center "><i
                                class="fab fa-deviantart fa-2x text-white text-center"></i></a>


                    </div>
                </div>
            </div>
        </div>


        <!-- =============================== Content =============================== -->
        <div style="" class="card-body p-0">

            <div class="row justify-content-around">
                <div class="col-lg-3 col-sm-12">
                    <div style="margin-top:-100px;" class="">
                        <!-- Card -->
                        <div class="card testimonial-card ">

                            <!-- Background color -->
                            <div style="height:auto;" class="card-up indigo lighten-1 rounded-0">
                            </div>

                            <a href="/profile/edit" class="m-2 ml-auto text-secondary"><i
                                    class="fas fa-edit fa-lg"></i></a>
                            <!-- Avatar -->
                            <div class="avatar mx-auto white mt-4">
                                <img src="https://picsum.photos/id/659/400/" class="rounded-circle lozad" alt="">
                            </div>
                            <!-- Content -->
                            <div class="card-body">
                                <!-- Name -->
                                <h3 class="card-title">{{user.username}}</h3>

                                <h5 class="card-title text-muted">
                                    {{#if user.jobTitle}}
                                    {{user.jobTitle}}
                                    {{else}}
                                    Service Provider
                                    {{/if}}
                                </h5>

                                <br>
                                <p class="text-left"> <b>Followers:</b> {{user.followers}} </p>
                                <p class="text-left"> <b>Following:</b> {{user.following}}</p>
                                <hr class="hr-primary">


                                <p class="text-left"><b>Website:</b>
                                    {{#if user.website}}
                                    {{user.website}}
                                    {{else}}
                                    <span class="text-muted">None</span>
                                    {{/if}}
                                </p>


                                <p class="text-left"><b>Birthday:</b>
                                    {{#if user.dob}}
                                    {{formatDate user.dob "DD MMM YYYY"}}
                                    {{else}}
                                    <span class="text-muted">Not Set</span>
                                    {{/if}}
                                </p>


                                <p class="text-left"><b>Gender:</b>
                                    {{#if user.gender}}
                                    {{user.gender}}
                                    {{else}}
                                    <span class="text-muted">Not Set</span>
                                    {{/if}}
                                </p>


                                <p class="text-left"><b>Location:</b>
                                    {{#if user.location}}
                                    {{user.location}}
                                    {{else}}
                                    <span class="text-muted">Not Set</span>
                                    {{/if}}
                                </p>


                                <p class="text-left"><b>Occupation:</b>
                                    {{#if user.occupation}}
                                    {{user.occupation}}
                                    {{else}}
                                    <span class="text-muted">Not Set</span>
                                    {{/if}}
                                </p>

                                <p class="text-left"><b>Email:</b> {{user.email}}</p>

                                <hr class="hr-primary">


                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <!-- Card -->
                        <div class="card testimonial-card ">


                            <!-- Content -->
                            <div class="card-body">
                                <!-- Name -->
                                <h4 class="card-title text-left">Bio</h4>


                                <p class="text-left text-muted">
                                    {{#if user.bio}}
                                    {{user.bio}}
                                    {{else}}
                                    Not set
                                    {{/if}}
                                </p>
                                <hr class="hr-primary">
                                <h4 class="card-title text-left">Skills</h4>
                                <div class="row justify-content-start pl-2">
                                    {{#each skills}}

                                    <button type="button"
                                        class="btn btn-outline-secondary btn-rounded waves-effect skill-button">{{this}}</button>

                                    {{/each}}

                                </div>

                                <hr class="hr-primary">


                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                </div>

                <div class="classic-tabs col-lg-8 col-sm-12">

                    <ul class="nav tabs-white rounded-0" id="myClassicTabShadow" role="tablist">

                        <li class="nav-item m-0">
                            <a class="nav-link waves-light active show" id="portfolio-tab-classic-shadow"
                                data-toggle="tab" href="#portfolio-classic-shadow" role="tab"
                                aria-controls="portfolio-classic-shadow" aria-selected="true">Portfolio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-light" id="services-tab-classic-shadow" data-toggle="tab"
                                href="#services-classic-shadow" role="tab" aria-controls="services-classic-shadow"
                                aria-selected="false"> Services </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-light" id="status-tab-classic-shadow" data-toggle="tab"
                                href="#status-classic-shadow" role="tab" aria-controls="status-classic-shadow"
                                aria-selected="false"> Status </a>
                        </li>

                        {{!-- <ul class="ml-auto nav tabs-white">
                            <li class="mt-n1">
                                <a href="http://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
                            </li>

                            <li class="mt-n1">
                                <a href="http://instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                            </li>
                            <li class="mt-n1">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
                            </li>
                            <li class="mt-n1">
                                <a href="https://www.youtube.com/"><i class="fab fa-youtube fa-2x"></i></a>
                            </li>
                            <li class="mt-n1">
                                <a href="https://www.deviantart.com/"><i class="fab fa-deviantart fa-2x"></i></a>
                            </li>
                        </ul> --}}
                    </ul>

                    <div class="tab-content min-vh-80 p-0" id="myClassicTabContentShadow">
                        {{!-- =============================== Portfolio =============================== --}}
                        <div class="tab-pane fade active show profile-content" id="portfolio-classic-shadow"
                            role="tabpanel" aria-labelledby="portfolio-tab-classic-shadow">
                            {{> profile/_portfolioItem}}
                        </div>

                        {{!-- =============================== Services =============================== --}}
                        <div class="tab-pane fade active profile-content" id="services-classic-shadow" role="tabpanel"
                            aria-labelledby="services-tab-classic-shadow">
                            {{> profile/_servicesItem}}

                        </div>
                        {{!-- =============================== Status =============================== --}}
                        <div class="tab-pane fade active profile-content" id="status-classic-shadow" role="tabpanel"
                            aria-labelledby="status-tab-classic-shadow">
                           

                        </div>

                    </div>

                </div>

            </div>

        </div>

</section>


{{#extend 'scripts'}}
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
    const observer = lozad();
    observer.observe();
</script>

{{/extend}}