<!DOCTYPE html>
<html lang="en" id="top">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{#if title}} {{ title }} - {{/if}}OutSource</title>

	<link type="text/css" href="/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/css/vendor/mdb.min.css" rel="stylesheet">
	<link type="text/css" href="/css/vendor/fontawesome.min.css" rel="stylesheet">
	{{{block 'stylesheets'}}}
	<link type="text/css" href="/css/style.css" rel="stylesheet">
</head>

<body class="deep-purple-skin">
	{{>_navbar}}
	
	{{{ block 'hero' }}}

	<main class="container-fluid mb-5 pb-5{{#ifCond 'mainType != "null" && mainType == "vCenter"'}} d-flex flex-column justify-content-center{{/ifCond}}{{#ifBlock 'hero'}} mt-5 pt-3 pt-md-5{{/ifBlock}}">
	{{{ body }}}
	</main>
	
	{{>_footer}}
	
	{{{ block 'fixedAction' }}}
	{{#ifBlock 'fixedAction'}}
	<div id="toTopAction" class="fixed-action-btn smooth-scroll animated d-none">
		<a href="#top" class="btn-floating btn-large primary-gradient">
			<i class="fas fa-arrow-up"></i>
		</a>
	</div>
	{{/ifBlock}}

	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/popper.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/mdb/mdb.min.js"></script>
	<script src="/js/scripts.js"></script>
	{{{block 'scripts'}}}
</html>