<!DOCTYPE html>
<html lang="en" id="top">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{#if title}} {{ title }} - {{/if}}OutSource</title>

	<link type="text/css" href="/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/css/vendor/mdb.min.css" rel="stylesheet">
	<link type="text/css" href="/css/vendor/fontawesome.min.css" rel="stylesheet">
	{{{block 'stylesheets'}}}
	<link type="text/css" href="/css/style.css" rel="stylesheet">
</head>

<body>
	{{> _navbar}}
	
	{{{ block 'hero' }}}

	<main class="container-fluid mb-4 pb-4{{#ifCond 'mainType != "null" && mainType == "vCenter"'}} d-flex flex-column justify-content-center{{/ifCond}}{{#ifExtend 'hero'}} mt-4 pt-4{{else}} mt-5 pt-3 pt-md-7{{/ifExtend}}">
	{{{ body }}}
	</main>
	
	{{> _footer}}
	
	{{{ block 'fixedAction' }}}
	{{#ifNotExtend 'fixedAction'}}
	<div id="toTopAction" class="fixed-action-btn smooth-scroll animated faster d-none">
		<a href="#top" class="btn-floating btn-large primary-gradient">
			<i class="fas fa-arrow-up"></i>
		</a>
	</div>
	{{/ifNotExtend}}

	{{#if toast}}
		<script id="toast-script">
			let toastMsgs = JSON.parse('{{{ json toast }}}');
		</script>
	{{/if}}
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/popper.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/mdb/mdb.min.js"></script>
	<script src="/js/modules/animateEnd.js"></script>
	<script src="/js/modules/fileInput.js"></script>
	<script src="/js/modules/toast.js"></script>
	<script src="/js/modules/validation.js"></script>
	<script src="/js/scripts.js"></script>
	{{{block 'scripts'}}}
</html>