<!DOCTYPE html>
<html lang="en" id="top">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#651fff">
	<link rel="shortcut icon" href="/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#651fff">
	<meta name="msapplication-config" content="/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<title>{{#if title}} {{ title }} - {{/if}}OutSource</title>

	<link type="text/css" href="/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/css/vendor/mdb.min.css" rel="stylesheet">
	<link type="text/css" href="/css/vendor/fontawesome.min.css" rel="stylesheet">
	{{{block 'stylesheets'}}}
	<link type="text/css" href="/css/style.css" rel="stylesheet">
</head>

<body>
	{{> _navbar}}

	{{{ block 'hero' }}}

	<main class="container-fluid mb-4 pb-4{{#ifCond 'mainType != "null" && mainType == "vCenter"'}} d-flex flex-column justify-content-center{{/ifCond}}{{#ifExtend 'hero'}} mt-4 pt-4{{else}} mt-5 pt-3 pt-md-7{{/ifExtend}} animated fadeIn">
		{{{ body }}}
	</main>

	{{{ block 'modals' }}}

	{{> _footer}}

	<div id="to-top-action" class="fixed-action-btn smooth-scroll animated faster d-none">
		<a href="#top" class="btn-floating btn-large primary-gradient">
			<i class="fas fa-arrow-up"></i>
		</a>
	</div>

	{{{ block 'fixedAction' }}}

	<script src="/js/vendor/jquery.min.js" type="text/javascript"></script>
	<script src="/js/vendor/popper.min.js" type="text/javascript"></script>
	<script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/vendor/mdb/mdb.min.js" type="text/javascript"></script>
	<script src="/js/modules/animateEnd.js" type="text/javascript"></script>
	<script src="/js/modules/fileInput.js" type="text/javascript"></script>
	<script src="/js/modules/validation.js" type="text/javascript"></script>

	{{#if toast}}
	<script id="toast-script" type="text/javascript">
		let toastMsgs = {{{ json toast }}};
	</script>

	<script src="/js/modules/toast.js" type="text/javascript"></script>
	{{/if}}
	
	<script src="/js/vendor/mdb/modules/datatables.min.js" type="text/javascript"></script>
	<script src="/js/scripts.js" type="text/javascript"></script>
	{{{block 'scripts'}}}

</html>