{{#if items}}
    {{#each items}}
        <tr class="cursor-default">
            <td class="d-none d-md-table-cell">
                <div class="form-check">
                    <input {{#if this.id}}id="{{ this.id }}"{{/if}} class="form-check-input" type="checkbox" name="fid">
                    <label class="form-check-label" for="{{ this.id }}"></label>
                </div>
            </td>
            <td class="cursor-default" contenteditable="true">{{ this.name }}</td>
            <td class="d-none d-md-table-cell">
                {{#ifCond 'this.size !== "0 Bytes"'}}
                    {{ this.size }}
                {{else}}
                    --
                {{/ifCond}}
            </td>
            <td class="d-none d-md-table-cell text-capitalize">{{ this.type }}</td>
            <td class="d-none d-md-table-cell"><!-- <i class="far fa-link mr-1"></i> -->
                {{#ifCond (concat this.sharedUsername.length ' > 0')}}
                    <span class="material-tooltip-sm" data-tooltip="tooltip" title="{{ joinSeperator ', ' this.sharedUsername }}">
                        {{ this.sharedUsername.length }} members
                    </span>
                {{else}}
                    Only you
                {{/ifCond}}
            </td>
            <td class="d-none d-md-table-cell">{{ this.modified }}</td>
            <td class="d-table-cell d-md-none dropleft">
                <a class="btn-floating btn-sm btn-cyan material-tooltip-sm" data-toggle="modal" data-target="#shareModal">
                    <i class="fas fa-share-alt"></i>
                </a>

                <a class="btn-floating btn-sm btn-primary ml-0 ml-md-2" data-toggle="dropdown" title="More Action">
                    <i class="fas fa-ellipsis-h"></i>
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item">
                        <i class="far fa-download"></i> Download
                    </a>
                    <button class="dropdown-item">
                        <i class="far fa-comments"></i> Comment
                    </button>
                    <button class="dropdown-item">
                        <i class="far fa-i-cursor" style="margin: 0 4px;"></i> Rename
                    </button>
                    <button class="dropdown-item">
                        <i class="fas fa-exchange-alt"></i> Move
                    </button>
                    <button class="dropdown-item">
                        <i class="far fa-copy"></i> Copy
                    </button>
                    <button class="dropdown-item">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
            </td>
        </tr>
    {{/each}}
{{/if}}