{{#if files}}
{{setVar 'selectId' forms.select}}
    {{#each files}}
        <tr class="animated faster d-none">
            <td headers="select">
                <div class="form-check">
                    <input id="{{ this.id }}"
                        class="form-check-input" type="checkbox"
                        data-name="{{ this.name }}"
                        name="fid"
                        {{#if this.id}} value="{{ this.id }}"{{/if}}
                        {{#ifVar 'selectId'}}
                            {{#ifIn (getVar 'selectId') this.id}} checked{{/ifIn}}
                        {{/ifVar}}
                    >
                    <label class="form-check-label" for="{{ this.id }}"></label>
                </div>
            </td>
            <td headers="name">
                {{#if this.link}}
                    <a class="d-flex flex-fill justify-content-center" href="{{ this.link }}">{{ this.name }}</a>
                {{else}}
                    {{ this.name }}
                {{/if}}
            </td>
            <td headers="size" class="d-none d-md-table-cell">
                {{ this.size }}
            </td>
            <td headers="type" class="d-none d-md-table-cell text-capitalize">{{ this.type }}</td>
            <td headers="shared" class="d-none d-md-table-cell"><!-- ToDo: <i class="far fa-link mr-1"></i> -->
                {{#if this.sharedUsername}}
                    <span class="material-tooltip-sm" data-tooltip="tooltip" title="{{ joinSeperator ', ' this.sharedUsername }}">
                        {{ this.sharedUsername.length }} member(s)
                    </span>
                {{else}}
                    Only you
                {{/if}}
            </td>
            <td headers="modified" class="d-none d-md-table-cell">{{ this.modified }}</td>
        </tr>
    {{/each}}
{{/if}}