<section class="services container mx-auto">
    <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1 mt-3 mt-md-0">
            <div id="filters">
                <select class="browser-default custom-select category-select">
                    <option selected>Show All</option>
                    <option>Graphics & Design</option>
                    <option>Writing & Translation</option>
                    <option>Video & Animation</option>
                    <option>Music & Audio</option>
                    <option>Programming & Tech</option>
                </select>
            </div>
            <div id="sort">
                <select class="browser-default custom-select sort-select">
                    <option selected disabled>Sort by...</option>
                    <option>Oldest first</option>
                    <option>Newest first</option>
                    <option>Most viewed</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search by title..." name="search" id="search">
                <div class="input-group-append">
                    <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect" type="button" id="searchbut">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- services cards -->
    {{#if services}}
    <div class="row" id="servcon">
        {{#each services}}
        <div class="col-12 col-md-4 col-lg-3 mt-4 servicecards {{replacecommas category}}" data-views="{{views}}"
            data-date="{{time}}">
            <div class="card">
                <div class="view overlay">
                    <img onerror='this.src = "/img/services/default.jpg"' class="card-img-top"
                        src="/uploads/services/{{uid}}/{{id}}.png" alt="Image not available">
                </div>

                <a class="btn-floating btn-action btn-deep-purple ml-auto mr-4 material-tooltip-sm"
                    data-tooltip="tooltip" data-placement="top" title="View More Details"
                    href="/services/view/{{uid}}/{{id}}">
                    <i class="far fa-eye"></i>
                </a>

                <div class="card-body">
                    <div class="d-flex mt-3">
                        <div class="flex-fill">
                            <h4 class="card-title mb-0" data-names="{{name}}">
                                {{name}}</h4>
                        </div>
                        <div class="flex-fill text-right">
                            <span class="font-weight-bold">{{views}}</span>
                            <i class="far fa-eye fa-fw ml-1"></i>
                        </div>
                    </div>

                    <hr>

                    <p class="card-text">
                        {{desc}}
                    </p>
                    <p class="card=text">Last Updated: {{date}}</p>
                    <div class="viewcounts text-right mt-4 text-right">
                        <form method="post" action="/services/fav/{{id}}">
                            <button class="favs btn btn-sm btn-red material-tooltip-sm" data-tooltip="tooltip"
                                data-placement="top" title="Favourite/Unfavourite" type="submit">
                                <span class="font-weight-bold">{{favourites}}</span>
                                <i class="fas fa-heart fa-fw"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="card-footer deep-purple accent-2 white-text text-center mt-4">
                    <h5 class="m-0">
                        ${{price}}
                    </h5>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div>
        <h3 class="text-center font-weight-bold">No services at the moment</h3>
    </div>
    {{/if}}
</section>

{{#extend "scripts"}}
<script type="text/javascript" src="/js/servicesscript.js"></script>
{{/extend}}