{{#extend 'stylesheets'}}
<link type="text/css" href="/css/vendor/codemirror/codemirror.css" rel="stylesheet">
<link id="editor-style" type="text/css" href="/css/vendor/codemirror/one-dark.css" rel="stylesheet">
{{/extend}}

<section class="file-edit">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">{{ file.name }}</span>
                </div>
                
                <div id="content" class="card-body" data-type="{{ file.type }}" data-name="{{ file.name }}">
                    {{#ifCond 'file.type === "code"'}}
                        <div id="editor"></div>
                        <form action="{{ postRoot }}/~save" method="post">
                            <input type="hidden" name="fid" value="{{ file.id }}">
                            <input type="hidden" name="content">
                        </form>
                        {{!-- <div id="editor" class="mx-3">
                            <div class="row rounded-top primary-color">
                                <div class="col-6 white-text text-left">
                                    <button class="btn btn-sm btn-primary z-depth-0">
                                        <i class="far fa-times fa-lg"></i>
                                    </button>
                                </div>
                                <div class="col-6 white-text text-right">
                                    <button class="btn btn-sm btn-primary z-depth-0">
                                        <i class="far fa-undo fa-lg"></i>
                                    </button>
                                    <button class="btn btn-sm btn-primary z-depth-0">
                                        <i class="far fa-redo fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div> --}}
                    {{/ifCond}}
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block col-3">
            <div id="action-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">Actions</span>
                </div>

                <div class="list-group list-group-flush">
                    <a class="close-edit list-group-item list-group-item-action" href="{{ prevUrl }}">
                        <i class="far fa-window-close mr-1"></i>Close Edit
                    </a>

                    {{#ifCond 'file.type === "code" || file.type === "text"'}}
                        <button class="save list-group-item list-group-item-action" type="button">
                            <i class="far fa-save mr-1"></i>Save
                        </button>
                        <button class="editor-mode list-group-item list-group-item-action" data-mode="dark">
                            <i class="far fa-adjust mr-1"></i>Light Mode
                        </button>
                    {{/ifCond}}
                </div>
            </div>
        </div>
    </div>
</section>

{{#extend 'scripts'}}
{{!-- <script src="/js/vendor/froala_editor.pkgd.min.js" type="text/javascript"></script> --}}
    {{#ifCond 'file.type === "code"'}}
        <script src="/js/vendor/codemirror/codemirror.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/mode/meta.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/addon/mode/loadmode.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/addon/edit/closebrackets.js" type="text/javascript"></script>

        <script id="data" type="text/javascript">
            let content = {{{json file.content}}};
        </script>
    {{/ifCond}}
<script src="/js/editFiles.js" type="text/javascript"></script>
{{/extend}}