<section class="files">
    <div class="row">
        <div class="col-12 col-md-2 my-4 my-md-0">
            <div id="folders-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
                    <span class="white-text mx-3">My Folders</span>
                </div>

                <a class="link" data-toggle="collapse" data-target="#folders-tree">
                    <h6 class="pt-2 pl-3 mb-0">
                        <i class="far fa-folders"></i> Folders
                        <i class="float-right pr-3 fas fa-angle-up rotate-icon"></i>
                    </h6>
                </a>

                <hr class="mb-0">

                <div id="folders-tree" class="treeview-animated collapse show">
                    <h6 class="dropdown-header text-center my-2">No Folders</h6>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9 col-lg-7">
            <div id="files-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3">
                    <ol class="breadcrumb justify-content-center align-items-center white-text transparent py-0 m-0">
                        {{#if breadcrumbs}}
                            {{#each breadcrumbs}}
                                <li class="breadcrumb-item text-capitalize">
                                    {{#if this.link}}
                                        <a href="{{ this.link }}">{{ this.name }}</a>
                                    {{else}}
                                        <span class="white-text">{{ this.name }}</span>
                                    {{/if}}
                                </li>
                            {{/each}}
                        {{/if}}
                    </ol>
                </div>

                <div class="card-body p-0">
                    <div class="mt-2 mb-3">
                        <form id="action-form" action="{{ postRoot }}/" method="post">
                            <div class="table-editable table-hover">
                                <table id="files-table" class="table table-striped text-center mb-0 w-100">
                                    <thead class="deep-purple accent-3 white-text">
                                        <th id="select" class="d-none d-md-table-cell">
                                            <div class="form-check">
                                                <input id="check-all" class="form-check-input" type="checkbox">
                                                <label class="form-check-label" for="check-all"></label>
                                            </div>
                                        </th>
                                        <th id="name">Name</th>
                                        <th id="sizes" class="d-none d-md-table-cell">Size</th>
                                        <th id="type" class="d-none d-md-table-cell">Type</th>
                                        <th id="shared" class="d-none d-md-table-cell">Shared</th>
                                        <th id="modified" class="d-none d-md-table-cell">Modified</th>
                                        <th id="actions" class="d-table-cell d-md-none">Actions</th>
                                    </thead>
                                    <tbody>
                                        {{> _filesRow }}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    {{#if files}}
                        <p class="text-center grey-text small font-weight-bold">End of contents</p>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block col-3 animated fadeIn">
            <div id="action-card" class="card card-cascade narrower sticky">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
                    <span class="white-text mx-3">Actions</span>
                </div>

                <div class="card-body card-body-cascade p-0">
                    <div id="action-search" class="input-group px-3 mt-2 mb-0">
                        <div class="md-form md-outline">
                            <input class="form-control" type="text" name="search">
                            <label>Search</label>
                        </div>

                        <div class="input-group-prepend">
                            <button class="btn btn-primary btn-md dropdown-toggle m-0" data-toggle="dropdown">
                                <i class="far fa-filter"></i>
                            </button>

                            <div id="action-filters" class="search-filters dropdown-menu dropdown-menu-right px-3">
                                <h6 class="dropdown-header px-0 pb-3">Search Filters</h6>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-all" checked>
                                    <label class="custom-control-label" for="filter-all">All</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-name" checked>
                                    <label class="custom-control-label" for="filter-name">Name</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-size" checked>
                                    <label class="custom-control-label" for="filter-size">Size</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-type" checked>
                                    <label class="custom-control-label" for="filter-type">Type</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input filter-shared" checked>
                                    <label class="custom-control-label" for="filter-shared">Shared</label>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input filter-modified" checked>
                                    <label class="custom-control-label" for="filter-modified">Modified</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group list-group-flush mt-3">
                        <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#uploadModal">
                            <i class="far fa-cloud-upload-alt"></i> Upload File(s)
                        </button>
                        <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newFileModal">
                            <i class="far fa-file-plus"></i> New File
                        </button>
                        <button class="list-group-item list-group-item-action" data-toggle="modal" data-target="#newFolderModal">
                            <i class="far fa-folder-plus"></i> New Folder
                        </button>
                    </div>

                    <hr class="my-0">

                    <div id="cb-actions" class="animated faster d-none">
                        <p class="mt-3 mb-1">
                            <small id="cb-count" class="px-3 font-weight-bolder grey-text">0 Item(s) Selected</small>
                        </p>

                        <div class="list-group list-group-flush">
                            <button class="download list-group-item list-group-item-action animated faster">
                                <i class="far fa-cloud-download-alt"></i> Download
                            </button>
                            <button class="comments list-group-item list-group-item-action animated faster">
                                <i class="far fa-comments"></i> Comments
                            </button>
                            <button class="rename list-group-item list-group-item-action animated faster rename-action">
                                <i class="far fa-i-cursor"></i> Rename
                            </button>
                            <button class="list-group-item list-group-item-action move-action">
                                <i class="fas fa-exchange-alt"></i> Move
                            </button>
                            <button class="list-group-item list-group-item-action copy-action">
                                <i class="far fa-copy"></i> Copy
                            </button>
                            <button class="list-group-item list-group-item-action delete-action">
                                <i class="far fa-trash-alt"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Files Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-cloud-upload-alt mr-1"></i> UPLOAD FILE(S)
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="files-upload" action="{{ postRoot }}/~upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="files" multiple />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New File Modal -->
    <div class="modal fade" id="newFileModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-file-plus mr-1"></i> NEW FILE
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Filename" name="name">
                            <span class="input-group-text border-left-0 border-right-0 rounded-0">.</span>
                            <input class="form-control" type="text" placeholder="Extension" name="ext">

                            <div class="input-group-prepend">
                                <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect">
                                    <i class="far fa-file-plus mr-1"></i> Create File
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New Folder Modal -->
    <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-folder-plus mr-1"></i> NEW FOLDER
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="needs-validation" action="{{ postRoot }}/~newfolder" method="post" novalidate>
                        <div class="input-group mb-0">
                            <div class="md-form md-outline">
                                <input class="form-control" type="text" {{#if forms.name}}value="{{ forms.name }}"{{/if}} name="name">
                                <label>Folder Name</label>
                                
                                <div class="invalid-feedback">
                                    {{ forms.errors.name }}
                                </div>
                            </div>

                            <div class="input-group-prepend">
                                <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect">
                                    <i class="far fa-file-plus mr-1"></i> Create Folder
                                </button>
                            </div>
                        </div>

                        <small class="form-text text-muted">Folder name only allow alphanumeric, underscore and dash.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Share Link Modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header deep-purple accent-2 white-text">
                    <h4 class="modal-title w-100">
                        <i class="far fa-share-alt mr-1"></i> SHARE
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <span class="white-text">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="post">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Email or Username" name="name">

                            <div class="input-group-append">
                                <button class="btn btn-md primary-gradient m-0 px-3 py-2 waves-effect">
                                    <i class="far fa-file-plus mr-1"></i> Share With
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <span class="mr-auto">
                        <span class="border border-primary rounded-circle p-2 mr-1"><i class="far fa-unlink"></i></span> No share link created
                    </span>
                    <span class="ml-auto">
                        <a href="#">Create Share Link</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{{#extend "fixedAction"}}
<!-- Mobile FAB Action -->
<div id="mobile-action" class="dropdown fixed-bottom text-right d-block d-lg-none">
    <button class="btn btn-floating primary-gradient dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
    </button>

    <div id="mobile-action-menu" class="dropdown-menu mb-2">
        <div id="mobile-search" class="px-2">
            <div class="input-group mt-2 mb-3">
                <div class="md-form md-outline">
                    <input class="form-control" type="text" name="search">
                    <label>Search</label>
                </div>

                <div class="input-group-prepend">
                    <button class="btn btn-md btn-primary m-0 px-3 py-2 dropdown-toggle" data-toggle="collapse">
                        <i class="far fa-filter"></i>
                    </button>

                    <div id="mobile-filters" class="dropdown-menu dropdown-menu-right search-filters">
                        <h6 class="dropdown-header px-0 pb-2">Search Filters</h6>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input filter-all" checked>
                            <label class="custom-control-label" for="filter-all">All</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input filter-name" checked>
                            <label class="custom-control-label" for="filter-name">Name</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input filter-size" checked>
                            <label class="custom-control-label" for="filter-size">Size</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input filter-type" checked>
                            <label class="custom-control-label" for="filter-type">Type</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input filter-shared" checked>
                            <label class="custom-control-label" for="filter-shared">Shared</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input filter-modified" checked>
                            <label class="custom-control-label" for="filter-modified">Modified</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-3 mb-2">

        <button class="dropdown-item" data-toggle="modal" data-target="#uploadModal">
            <i class="far fa-cloud-upload-alt"></i> Upload File(s)
        </button>
        <button class="dropdown-item" data-toggle="modal" data-target="#newFileModal">
            <i class="far fa-file-plus"></i> New File
        </button>
        <button class="dropdown-item" data-toggle="modal" data-target="#newFolderModal">
            <i class="far fa-folder-plus"></i> New Folder
        </button>

        <hr class="my-2">

        <div class="smooth-scroll">
            <a class="dropdown-item" href="#top">
                <i class="fas fa-arrow-up"></i> To Top
            </a>
        </div>
    </div>
</div>
{{/extend}}

{{#extend 'scripts'}}
<script src="/js/vendor/mdb/modules/datatables.min.js"></script>
    {{#if folders}}
    <script id="tree-script">
        let tree = {{{ json folders }}};
    </script>
    {{/if}}
<script src="/js/files.js"></script>
{{/extend}}