{{#extend 'stylesheets'}}
    {{#ifCond 'file.type === "code" || file.type === "text"'}}
        <link type="text/css" href="/css/vendor/codemirror/codemirror.css" rel="stylesheet">
        <link id="editor-style" type="text/css" href="/css/vendor/codemirror/one-dark.css" rel="stylesheet">
    {{/ifCond}}
{{/extend}}

<section class="file-preview">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">{{file.name}}</span>
                </div>
                
                <div id="content" class="card-body" data-id="{{ file.id }}" data-type="{{ file.type }}">
                    {{#ifCond 'file.type === "image"'}}
                        <img class="img-preview img-fluid d-block mx-auto w-100" src="{{ file.link }}">
                    {{else}}
                        {{#ifCond 'file.type === "code" || file.type === "text"'}}
                            <div id="editor" data-name="{{ file.name }}"></div>
                        {{else}}
                            {{#ifCond 'file.type === "document"'}}
                                <div id="rtf" class="p-3 rounded"></div>
                            {{else}}
                                {{#ifCond 'file.type === "video"'}}
                                    <video class="video-fluid z-depth-1" preload controls>
                                        <source src="{{ file.link }}">
                                    </video>
                                {{else}}
                                    <div class="text-center">
                                        <p class="mb-5 text-danger">
                                            <i class="far fa-exclamation-triangle fa-10x"></i>
                                        </p>
                                        <h1>This File Cannot Be Previewed</h1>
                                    </div>
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/ifCond}}
                </div>
            </div>
        </div>

        <div class="d-none d-lg-block col-3">
            <div id="action-card" class="card card-cascade narrower">
                <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <span class="white-text mx-3">Actions</span>
                </div>

                <div class="list-group list-group-flush">
                    <a class="close-preview list-group-item list-group-item-action" href="{{ prevUrl }}">
                        <i class="far fa-window-close mr-1"></i>Close Preview
                    </a>

                    {{#ifCond 'urlRoot === "/files/my-drive" || urlRoot === "/files"'}}
                        {{#ifCond 'file.type === "code" || file.type === "text" || file.type === "image"'}}
                            <a class="edit list-group-item list-group-item-action" href="">
                                <i class="far fa-edit mr-1"></i>Edit
                            </a>
                        {{/ifCond}}
                    {{/ifCond}}

                    {{#ifCond 'file.type === "code" || file.type === "text"'}}
                        <button class="editor-mode list-group-item list-group-item-action" data-mode="dark">
                            <i class="far fa-adjust mr-1"></i>Light Mode
                        </button>
                    {{/ifCond}}

                    {{#ifCond 'file.type === "image"'}}
                        <button class="image-size list-group-item list-group-item-action d-none">
                            <i class="far fa-compress-wide mr-1"></i>Original Size
                        </button>
                    {{/ifCond}}

                    <button class="list-group-item list-group-item-action" data-mode="light" data-toggle="modal" data-target="#comments-modal">
                        <i class="far fa-comments mr-1"></i>Comments
                    </button>

                    <a class="download list-group-item list-group-item-action" href="" download>
                        <i class="far fa-cloud-download-alt mr-1"></i>Download
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{#extend 'modals'}}
<div id="comments-modal" class="modal fade right" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header deep-purple accent-2 white-text">
                <h4 class="modal-title">
                    <i class="far fa-comments mr-1"></i> COMMENTS
                </h4>

                <button class="close" data-dismiss="modal" type="button">
                    <span class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body text-right">
                <form class="needs-validation flex-fill" action="{{ postRoot }}/~comment" method="post">
                    <div class="md-form md-outline">
                        <textarea id="comment-input" class="form-control md-textarea rounded" length="500" maxlength="500"{{#if forms.comment}} value="{{ forms.comment }}"{{/if}} name="comment"></textarea>
                        <label for="comment-input">Comment</label>

                        <div class="invalid-tooltip">
                            {{ forms.errors.comment }}
                        </div>
                    </div>

                    <button class="btn btn-md btn-success btn-rounded btn-block" type="submit">
                        <i class="far fa-comment-plus mr-2"></i> Post
                    </button>

                    <input type="hidden" value="{{ file.id }}" name="fid">
                </form>

                <hr class="my-4">

                {{> _fileComments }}
            </div>
        </div>
    </div>
</div>
{{/extend}}

{{#extend "fixedAction"}}
<!-- Mobile FAB Action -->
<div id="mobile-action" class="dropdown fixed-bottom text-right d-block d-lg-none">
    <button class="btn btn-floating primary-gradient dropdown-toggle" type="button" data-toggle="dropdown">
        <i class="fas fa-ellipsis-h"></i>
    </button>

    <div id="mobile-action-menu" class="dropdown-menu mb-2">
        <a class="close-preview dropdown-item" href="{{ prevUrl }}">
            <i class="far fa-window-close mr-1"></i>Close Preview
        </a>

        {{#ifCond 'urlRoot === "/files/my-drive" || urlRoot === "/files"'}}
            {{#ifCond 'file.type === "code" || file.type === "text" || file.type === "image"'}}
                <a class="edit dropdown-item" href="">
                    <i class="far fa-edit mr-1"></i>Edit
                </a>
            {{/ifCond}}
        {{/ifCond}}

        {{#ifCond 'file.type === "code" || file.type === "text"'}}
            <button class="editor-mode dropdown-item" data-mode="dark">
                <i class="far fa-adjust mr-1"></i>Light Mode
            </button>
        {{/ifCond}}

        {{#ifCond 'file.type === "image"'}}
            <button class="image-size dropdown-item d-none">
                <i class="far fa-compress-wide mr-1"></i>Original Size
            </button>
        {{/ifCond}}

        <button class="dropdown-item" data-toggle="modal" data-target="#comments-modal">
            <i class="far fa-comments mr-1"></i>Comments
        </button>

        <a class="download dropdown-item" href="" download>
            <i class="far fa-cloud-download-alt mr-1"></i>Download
        </a>

        <hr class="my-2">

        <div class="smooth-scroll">
            <a class="dropdown-item" href="#top">
                <i class="fas fa-arrow-up"></i> To Top
            </a>
        </div>
    </div>
</div>
{{/extend}}

{{#extend 'scripts'}}
    {{#ifCond 'file.type === "code" || file.type === "text"'}}
        <script src="/js/vendor/codemirror/codemirror.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/mode/meta.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/addon/mode/loadmode.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/addon/edit/matchbrackets.js" type="text/javascript"></script>
        <script src="/js/vendor/codemirror/addon/edit/matchtags.js" type="text/javascript"></script>

        <script id="content" type="text/javascript">
            let content = {{{json file.content}}};
        </script>
    {{/ifCond}}

    {{#ifCond 'file.type === "document"'}}
        <script src="/js/vendor/rtfjs/jquery.svg.min.js" type="text/javascript"></script>
        <script src="/js/vendor/rtfjs/jquery.svgfilter.min.js" type="text/javascript"></script>
        <script src="/js/vendor/rtfjs/WMFJS.bundle.min.js" type="text/javascript"></script>
        <script src="/js/vendor/rtfjs/EMFJS.bundle.min.js" type="text/javascript"></script>
        <script src="/js/vendor/rtfjs/RTFJS.bundle.min.js" type="text/javascript"></script>

        <script id="content" type="text/javascript">
            let content = {{{json file.content}}};
        </script>
    {{/ifCond}}

<script src="/js/filePreview.js" type="text/javascript"></script>
{{/extend}}